In [1]:
import sqlite3

conn = sqlite3.connect('sales_data.db')

print ("Opened database successfully");

Opened database successfully

In [2]:
import sqlite3

conn = sqlite3.connect('sales_data.db')
print ("Opened database successfully");

conn.execute('''CREATE TABLE IF NOT EXISTS sales (

    product TEXT NOT NULL,
    quantity INTEGER NOT NULL,
    price REAL NOT NULL
);''')
print ("Table created successfully");

Opened database successfully
Table created successfully

In [3]:
import sqlite3

conn = sqlite3.connect('sales_data.db')
print ("Opened database successfully");

conn.execute("INSERT INTO sales (product, quantity, price) \
      VALUES ('Apple', 10, 0.5)");
conn.execute("INSERT INTO sales (product, quantity, price) \
      VALUES ('Mango', 11, 0.6)");
conn.execute("INSERT INTO sales (product, quantity, price) \
      VALUES ('Orange', 15, 0.7)");



conn.commit()
print ("Records created successfully");



conn.close()

Opened database successfully
Records created successfully

In [6]:
import sqlite3

conn = sqlite3.connect('sales_data.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT product, quantity, price from sales")
for row in cursor:
    print ("product = ", row[0])
    print ("quantity = ", row[1])
    print ("price = ", row[2], "\n")

print ("Operation done successfully");
conn.close()

Opened database successfully
product =  Apple
quantity =  10
price =  0.5

product =  Mango
quantity =  11
price =  0.6

product =  Orange
quantity =  15
price =  0.7

Operation done successfully